PDEBUILD_PBUILDER="cowbuilder"
EXTRAPACKAGES="@extrapackages@"
ALLOWUNTRUSTED=yes

# List of suites
DEBIAN_SUITES=("wheezy" "squeeze")
UBUNTU_SUITES=("raring" "quantal" "precise" "oneiric" "natty" "maverick" "lucid" "karmic" "jaunty" "hardy")

NAME="$DIST-$ARCH"
DEBOOTSTRAPOPTS=("--arch" "$ARCH" "${DEBOOTSTRAPOPTS[@]}")

DISTRIBUTION="$DIST"
MIRROR="@mirror@"
AUTOMATE_PATH="@automate_path@"
AUTOMATE_WWW_PATH="@automate_www_path@"
INSTANCE="@instance@"
INSTANCE_PATH="$AUTOMATE_PATH/instances/$INSTANCE/pbuilder/$NAME"
BASEPATH="$INSTANCE_PATH/base.cow/"
APTCACHE="$INSTANCE_PATH/aptcache/"
BUILDPLACE="$INSTANCE_PATH/build/"

if $(echo ${DEBIAN_SUITES[@]} | grep -q $DIST); then
    # Debian configuration
    MIRRORSITE="http://$MIRROR/debian/"
    COMPONENTS="main contrib non-free"
    DEBOOTSTRAPOPTS=("${DEBOOTSTRAPOPTS[@]}" "--keyring=/usr/share/keyrings/debian-archive-keyring.gpg")
    OTHERMIRROR="deb $AUTOMATE_WWW_PATH/instances/$INSTANCE/debian/ $DIST main"
elif $(echo ${UBUNTU_SUITES[@]} | grep -q $DIST); then
    # Ubuntu configuration
    MIRRORSITE="http://$MIRROR/ubuntu/"
    COMPONENTS="main restricted universe multiverse"
    DEBOOTSTRAPOPTS=("${DEBOOTSTRAPOPTS[@]}" "--keyring=/usr/share/keyrings/ubuntu-archive-keyring.gpg")
    OTHERMIRROR="deb $AUTOMATE_WWW_PATH/instances/$INSTANCE/ubuntu/ $DIST main"
else
    echo "Unknown distribution: $DIST"
    exit 1
fi
