body {
    margin: 10px;
}

img {
    vertical-align: middle;
}

/* bootstrap overrides */
div.navbar {
    margin-bottom: 5px;
    line-height: 10px;
}
div.navbar-inner {
    min-height: 20px;
}
div.navbar li {
    line-height: 10px;
}
span.label {
    font-size: 10px;
}
